__pycache__/
*.py[cod]
*$py.class

env/
venv/
ENV/
.env/
.venv/

build/
dist/
*.egg-info/
.eggs/

.ipynb_checkpoints

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
Desktop.ini

*.log
*.png
*.pdf
*.svg

data/

